
body {
    /* width: 1400px; */
    /*height: 1608px;*/
    font-family: Cabin;
    /*margin: 0 auto;*/
  
    
}
.headers {
    width: 100%;
    background-color: #EEEEEF;
    position: sticky;
       
}
.logo-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* s */
    padding: 16px 52px;
    background: #10BBD5;
    margin: 0 auto;
}
.navigation-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1296px; */
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 24px;
    background-color: white;
    
}
.second-menu ul {
    display: flex;
    justify-content: center;
    text-align: center; 
    gap: 40px;
}
.second-menu a {
    color:black;
    font-size: 16px;
    text-decoration: none;
}

.menu {
    line-height: 24px;
    font-size: 16px;
}
main {
    padding-left: 52px;
    padding-right: 52px;
    background-color: #EEEEEF;
    padding-bottom: 120px;
    /* width: 1296px; */
    align-items: flex-start;
    margin: 0 auto;
    gap: 24px;
}
.form{
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  
}

.title {
    font-size: 32px;
    color: #1F1F1F;
    font-weight: 600;
    line-height: 40px;
    padding: 32px 0;
    margin : 0 0;
    border-bottom: 1px solid #A8A8A8;
    background: #EEEEEF;
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 56px;
    margin-left: 110px;  
    margin-bottom:100px ;
    margin-right: 822px;

    width: 420px;

}
 .name {
    display: flex;
    width: 416px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    color: #8E8E8E;
 }
.image{
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    gap: 24px;
}
.titles{
    text-align: right;
    font-size: 11px;
    color: #777;
    position: absolute;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    top: 70px;
    left: 930px;
    width: 150px;
    top: 360px;
    text-align: start;
}
form h2{
    
font-size: 20px;
font-weight: 700;
line-height: 24px; 
}
form label {  
font-size: 16px;
font-weight: 400;
line-height: 24px; 
gap: 8px;
}

.third{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    margin: 0px;
}
form h5{
    color: #8E8E8E;
}
.first{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid #8E8E8E;
    width: 192px;
    height: 48px;
    gap: 24px;
    
    }
form p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 32px; 
}
.Delivery{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 32px; 
}

.textarea{
    display: flex;
    width: 416px;
    height: 104px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    text-align:start; 
    gap: 8px;
    resize: none;
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
 
}    
.conteiner-sekond {
    width: 500px;
    height: 456px;
    background-color:#F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 40px; ;
    gap: 32px;
    top: auto;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 602px;
    margin-top: -1070px;
    margin-right:110px ;
    
}
.price{

    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    padding-right: 24px;
    margin: -30px 0 0 220px;
    gap: 32px;
    width: 78px;
    height: 27px;
}
.title-name{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    width: 446px;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 32px;
}
.price-2{
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    padding-right: 24px;
    margin: -30px 0 0 250px;
    gap: 32px;
}

.btn-sub{
    justify-content: flex;
    align-self: center;
    align-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    background-color: #3D76BA;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    border: 1px solid #3D76BA;
}
.buybook-button2 {
    justify-content: flex;
    align-self: center; 
    align-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    background-color:#DEDEDE;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #DEDEDE;
}
.btn-{
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}
.footer-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 52px;
    background-color: #6D91DC;
}

.footer-text {
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
